# Node
node_modules/
*.log

# Env
# Ignore root and nested .env files (explicitly include db paths)
.env
packages/db/.env
packages/db/prisma/.env

# TypeScript build outputs
/dist

# Prisma
packages/db/prisma/generated/

# Docker
postgres-data/

# Local env overrides
*.env.local
apps/web/.env.local
